
'context-menu':
  '[data-path$=flow]': [
      { label: 'Set as active flow file', command: 'flow:set-flow-file'},
      { type: 'separator' },
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'flow'
      'submenu': [
        {
          'label': 'Status'
          'command': 'flow:status'
        },
        {
          'label': 'Set target'
          'command': 'flow:set-target'
        },
        { type: 'separator' },
        {
          'label': 'Toggle log view'
          'command': 'flow:toggle-log-view'
        }
      ]
    ]
  }
]
