
'context-menu':
  '[data-path$=flow]': [
      { label: 'Set as active flow file', command: 'flow:set-flow-file'},
      { type: 'separator' },
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'flow'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'flow:toggle'
        }
      ]
    ]
  }
]
